<ion-view view-title="TK Test Login">
    <ion-content class="padding">
        <form name="loginForm" ng-submit="accessForm(loginForm)" novalidate><br>


            <label class="item item-input" ng-class="{ 'has-errors' : loginForm.email.$invalid && loginForm.$submitted}">
            <input name="email" type="email" placeholder="Email" ng-model="user.email" required>
            </label>


            <label class="item item-input" ng-class="{ 'has-errors' : loginForm.password.$invalid && passwordForm.$submitted}">
                <input name="password" type="password" placeholder="Password" ng-model="user.password"></label>

            <button type="submit">Enter</button>
        </form>
    </ion-content>
</ion-view>
//

<ion-view view-title="Log In">
    <ion-content class="padding">
        <form name="register" ng-submit="accessForm(register)" novalidate><br><br>
              
                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.email.$invalid && registerForm.$submitted}">
                    <input name="email" type="email" placeholder="Email" ng-model="user.email" required>
                </label>
                
                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.password.$invalid && registerForm.$submitted}">
                    <input name="password" type="password" placeholder="Password" ng-model="user.password" required>
                </label>
                <br>
                <button type="submit">Submit! </button>

        </form>
    </ion-content>
</ion-view>